@use "vars.scss" as v;

.hero {
  flex: 1;
  background-color: v.$white;

  .hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 64px 0px;
    .text-top{
      font-size: 15px;
      font-weight: 600;
      border-radius: 16px;
      background-color: v.$silver;
      color: v.$black;
      height: 26px;
      line-height: 26px;
      padding:0px 10px;
      width:max-content ;
    }
    .main-text{
      font-size: 47px;
      font-weight: 600;
      padding-top: 24px;
      padding-bottom: 24px;
      span{
        color:v.$gold;
      }
    }
    .text-bottom{
      font-size: 20px;
      padding-bottom: 24px;
    }
    
    .hero-left {
      width: 568px;
      margin-right: 64px;
      
    }

    .hero-right {
      max-width: 568px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
    .buttons{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      text-align: center;
      >div:first-child{
        margin-right: 20px;
      }
      >div:last-child{
        >div {
          margin-top: 8px;
        }
      }
    }
  }

  @media (max-width: v.$breakpoint-tablet) {
    .hero-container {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;

      padding: 50px 0px;

      text-align: center;

      .hero-left {
        width: 100%;
        margin-right: 0px;
        text-align: center;
      }

      .hero-right {
        max-width: 100%;
        padding-top: 32px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        .player{
          width: 100%;
          max-width: 568px;
          img{
            width: 100%;
            height: auto;
          }
        }
      }

      .buttons{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        
        text-align: center;
        >div:first-child{
          margin-right: 0px;
        }
        >.btn {
          margin-top: 16px;
        }
        
      }
    }
  }


}