$white: #ffffff;
$black: #000000;
$silver: #E5E5E5;
$blue: #14213D;
$gold: #FCA311;
$green: #4BE2A6;
$semiblue:#14213D99;


//fonts
$font: "Host Grotesk", sans-serif;
// font-family: "Roboto", sans-serif;
$font-roboto: "Roboto", sans-serif;

//breakpoint vars
$breakpoint-mobile: 460px;
$breakpoint-tablet: 1248px;
