$white: white;
$black: #000000;
$silver: #E5E5E5;
$blue: #14213D;
$gold: #FCA311;
$green: #4BE2A6;


$font: "Host Grotesk", sans-serif;

$brekpoint-mobile: 123;
$brekpoint-tablet: 456;
// $brekpoint-desktop: 123;


/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.host-grotesk-<uniquifier> {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/